vpc_cidr = "10.0.0.0/16"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_subnet_cidrs = [
  "10.0.101.0/24",
  "10.0.102.0/24"
]

azs = [
  "ap-northeast-1a",
  "ap-northeast-1c"
]

k8s_key_name = "myapp-dev-k8s"
bastion_key_name   = "myapp-dev-bastion"
bastion_allow_ips  = ["0.0.0.0/32"] # 自分のIP